// Font - Open_sans  
@font-face {
    font-family: Open_Sans;
    src: url(../../../public/font/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

// Font - Oswald 
@font-face {
    font-family: Oswald;
    src: url(../../../public/font/Oswald/Oswald-VariableFont_wght.ttf);
}

// Font - Style

// Text Small 

.text-small {
    font-family: Oswald;
    font-size: 13px;
    color: $white;
}