// Color Shecma 
    // Primary Color - Light 
        $primary-color-light: #05E55C;
    // Primary Color 
        $primary-color: #0B9942;
    // Primary Color - Dark 
        $primary-color-dark: #098036;

    // Secondary Color - Light 
        $secondary-color-ligth: #129992; 
    // Secondary Color
        $secondary-color: #7ECCC8; 

    // Tertiary color 
        $tertiary-color: #991281;
    // Tertiary color - Dark
        $tertiary-color-dark: #73364A;

    // Gray color Light
        $gray-color-light: #EBEBEB;
    // Gray Color 
        $gray-color: #C4C4C4;
    // Gray Color Dark 
        $gray-color-dark: #9E9E9E;

    // White Color 
        $white-color: #F5F4F4;
    
    // Red Color 
        $red-color: #F75D5D;

    // Orange Color 
        $orange-color: #F76707;

// Loading 
    // Variables for Loading

    // Container 
        // Padding 
            $conPad: 2rem;
        // Radius  
            $con-rad: .7rem; 

        // Logo 
            // Min-Width
                $Load-logo-miw: 10rem;
            // Max-width
                $Load-logo-maw: 15rem;
