// Color Shecma
    
    // Primary
        // Primary Color - Light 
            $primary-color-light: #05E55C; 
        // Primary Color 
            $primary-color: #0B9942;
        // Primary Color - Dark 
            $primary-color-dark: #098036;
    
    // Secondary 
        // Secondary Color - Light
            $secondary-color-light: #129992;
        // Secondary Color 
            $secondary-color: #7ECCC8;
    
    // Tertiary 
        // Tertiary Color 
            $tertiary-color: #991281;
        // Tertiary Color Dark 
            $tertiary-color-dark: #73364A;
    
    // Gray 
        // Gray Color Light 
            $gray-color-light: #EBEBEB;
        // Gray Color
            $gray-color: #C4C4C4;
        // Gray Color Dark
            $gray-color-dark: #9E9E9E;
        
    // White 
        // White Color 
            $white: #F5F4F4;
    // RED
        // Red Color 
            $red: #DB1600;
    // Orange
        // Orange Color
            $orange: #F76707;



        