.btn {

    &__nav {
        text-decoration: none;
        font-family: Oswald;
        font-size: 1.2rem;
        color: black;
        &:hover {
            font-size: 1.3rem;
        }
    }
    &__icon {
        background: none;
        border:none;
    }

}