#errorMsg {
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-30%);

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #e3e1e1;
        max-width: 50%;
        padding: 1rem;
        border-radius: .7rem;
        border-left: $red-color solid .5rem;
        animation: moveInLeft  1s;
    }

}