
// Header 
.header {
    // Home 
    &__home {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        min-width: 100%;
        max-width: 100%;
        min-height: 20vh;
        // TO DO 
        // Remove add to JS 
        background-image: url(../../../public/image/defaultimg/Mamsen_header.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        // Header Home Text
        &--text {
            max-width: 50%;
        }
    }
}