// header 
.header {
    // Home 
    &__home {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        min-width: 100%;
        max-width: 100%;
        min-height: 20vh;
        // Home text Box 
        &--textbox{
            max-width: 50%;
        }
    }
}